<footer>
    <div class="container">
        <hr class="my-0">
        <div class="row align-items-center text-muted my-3">
            <div class="col">
                <span>© {{ site.publication_date }} {{ site.author }}</span>
                <a href="{{ site.baseurl }}/feed.xml"><span class="feed iconify" data-icon="foundation:rss"></span></a>
            </div>
            <div class="col-auto text-center px-0">
                    <a href="https://www.akashsharma.live/"><span class="github text-center text-muted iconify" data-icon="foundation:web"></span></a>
                    <a href="https://github.com/Akash-Sharma-1"><span class="github text-center text-muted iconify" data-icon="foundation:social-github"></span></a>
                    <a href="https://twitter.com/AkashTheGreat_1"><span class="github text-center text-muted iconify" data-icon="foundation:social-twitter"></span></a>
                    <a href="https://www.linkedin.com/in/akash-sharma-246b67165"><span class="github text-center text-muted iconify" data-icon="foundation:social-linkedin"></span></a>
                    <a href="mailto:akashthegreatlegend@gmail.com"><span class="github text-center text-muted iconify" data-icon="foundation:mail"></span></a>
            </div>
            <div class="col text-right">
                <a href="javascript:$('html,body').animate({ scrollTop: 0 }, 'slow');">TOP</a>
            </div>

        </div>
    </div>
</footer>
