{% if page.layout == "post" %}
    {% include modules/search-box.html %}
    {% include modules/toc.html %}
{% elsif page.url == "/leetcode/index.html" %}
    {% include modules/search-box.html %}
    {% include modules/category-list-group.html %}
{% elsif page.url == "/leetcode/categories/" %}
    {% include modules/search-box.html %}
    {% include modules/category-list-group.html %}
{% elsif page.url == "/classification/" %}
    {% include modules/search-box.html %}
    {% include modules/tag-list-group.html %}
{% else %}
    {% if page.url != "/about/" %}
        {% include modules/search-box.html %}
        {% include modules/tag-cloud.html %}
      {% if site.github.public_repositories != null %}
          {% include modules/repository-list.html %}
      {% endif %}
    {% endif %}
    {% if page.url == "/about/" %}
      {% include modules/connect-with-me.html %}
      {% if site.github.public_repositories != null %}
          {% include modules/repository-list.html %}
      {% endif %}
    {% endif %}

{% endif %}



