<div class="titlebar text-light">
    <div class="container">
        {% if page.title == "Home" %}
            <!-- Home page title -->
            <div class="title-big pt-sm-3 pt-md-4">{{ site.subtitle }}</div>
            <div class="meta pb-1 pb-2 pb-sm-3 pb-md-4">
                <span class="pr-3">
                        <span class="iconify" data-icon="octicon:mark-github"></span>
                        <a class="text-light" href="https://github.com/{{ site.social.github }}"><span>{{ site.social.github }}</span></a>
                </span>

                <span class="pr-3">
                    {% if site.organization %}
                        <span class="iconify" data-icon="octicon:organization"></span>
                        <a class="text-light" href="https://iiitd.ac.in/"><span>{{ site.organization }}</span></a>
                    {% endif %}
                </span>

                <span class="pr-3">
                    {% if site.location %}
                        <span class="iconify" data-icon="octicon:location"></span>
                        <a class="text-light" href="https://www.google.com/maps/search/?api=1&query={{ site.location }}"><span>{{ site.location }}</span></a>
                    {% endif %}
                </span>
            </div>
        {% elsif page.collection == "posts" %}
            <!-- Post article title -->
            <div class="title pt-3">{{ page.title }}</div>
            <div class="meta pb-3">
                <span class="pr-3">
                    {% if page.date %}
                        <span class="iconify" data-icon="octicon:calendar"></span>
                        <span>{{ page.date | date: "%Y/%m/%d" }}</span>
                    {% endif %}
                </span>

                {% for tag in page.tags %}
                    <span class="titlebar-info pr-3">
                        <span class="iconify" data-icon="octicon:tag"></span>
                        <a class="text-light" href="{{ site.baseurl }}/classification/#{{ tag }}">{{ tag }}</a>
                    </span>
                {% endfor %}

                {% for category in page.categories %}
                    {% if category != "algorithms" and category != "tech" %}
                        <span class="titlebar-info pr-3">
                            <span class="iconify" data-icon="octicon:tag"></span>
                            <a class="text-light" href="{{ site.baseurl }}/algorithms/categories/#{{ category }}">{{ category }}</a>
                        </span>
                    {% endif %}
                {% endfor %}

            </div>
        {% else %}
            <!-- Default title -->
            <div class="title py-2 py-md-3">{{ page.title }}</div>
        {% endif %}
    </div>
</div>

<script>
    {% if page.title == "Home" %}
        $(".titlebar").addClass("bg-primary");
        $(".titlebar").addClass("titlebar-primary");

    {% else %}
        $(".titlebar").geopattern("{{ page.title }}");
    {% endif %}
</script>
