<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css" integrity="sha256-HbgiGHMLxHZ3kkAiixyvnaaZFNjNWLYKD/QG6PWaQPc=" crossorigin="anonymous" />
<!-- Support for share and reaction btns -->
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2e4aff9b884400124df6d3&product=sop' async='async'></script>

<!-- Support for deep anchor links https://github.com/bryanbraun/anchorjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js" integrity="sha256-0X7DxIkZMaHhAon0xCc/C/YhG6y0dg8Uj8c50+gbu8c=" crossorigin="anonymous"></script>

<!-- Support for fancybox https://github.com/fancyapps/fancybox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>

<!-- Support for MathJax https://github.com/mathjax/mathjax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous" async></script>

<article class="markdown-body">
    {{ content }}
</article>

<br>
<center><p>Thank you for reading this article 😊</p></center>
<center><p>I'd love to hear about your thoughts on this in the comment section below!</p></center>
<div class="sharethis-inline-reaction-buttons"></div>
<style>
  #st-1 .st-btn > svg
  {
    width:28px;
  }
</style>
<hr></hr>
<center><p>If you liked it, share it with your friends and help this blog to grow!</p></center>
<div class="sharethis-inline-share-buttons"></div>
<br>
<br>
{% include modules/comments.html %}

<script>
    // Add anchors to headers.
    anchors.add();

    // Show images in fancybox.
    $("p img").each(function() {
        $(this).wrapAll('<a data-fancybox="images" data-caption="' + this.alt + '" href="' + this.src + '"></a>');
    });
    $('[data-fancybox="images"]').fancybox({
        transitionEffect: "slide",

        // Support for retina displays.
        afterLoad : function(instance, current) {
            var pixelRatio = window.devicePixelRatio || 1;

            if ( pixelRatio > 1.5 ) {
                current.width  = current.width  / pixelRatio;
                current.height = current.height / pixelRatio;
            }
        }
    });
</script>
