<div class="repository-list">
    <p class="name">My Popular Papers</p>
    <div class="row">
   
            <div class="col-sm-6 col-md-12 mb-3">
                <a class="repository-card btn rounded p-0" href="https://www.computer.org/csdl/journal/ts/5555/01/10242168/1QdYTNsq4Xm">
                    <div class="card p-1">
                        <!-- <div class="name rounded center text-light">
                            dasjkdhajkshdjksadfghhads gfhjadgshjfg adshjfgasdhj fgsadhjfghjsdagf ajshgfsdhjag f
                        </div> -->
                        <div class="info center">
                            <div class="p-2">
                                <div class="mt-2 mb-2">Improving Cross-Language Code Clone Detection via Code Representation Learning 
                                    and Graph Neural Networks</div>
                                <!-- <div>
                                    <span class="iconify" data-icon="octicon:star"></span>
                                    <span class="iconify" data-icon="octicon:repo-forked"></span>
                                    <span class="iconify" data-icon="octicon:clock"></span>
                                </div> -->
                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-12 mb-3">
                <a class="repository-card btn rounded p-0" href="#">
                    <div class="card p-1">
                        <!-- <div class="name rounded center text-light">
                            dasjkdhajkshdjksadfghhads gfhjadgshjfg adshjfgasdhj fgsadhjfghjsdagf ajshgfsdhjag f
                        </div> -->
                        <div class="info center">
                            <div class="p-2">
                                <div class="mt-2 mb-2">Learning Fine-Grained Cross Modality Excitement for Self Supervised Detection of
                                    Speech Disfluencies</div>
                                <!-- <div>
                                    <span class="iconify" data-icon="octicon:star"></span>
                                    <span class="iconify" data-icon="octicon:repo-forked"></span>
                                    <span class="iconify" data-icon="octicon:clock"></span>
                                </div> -->
                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-12 mb-3">
                <a class="repository-card btn rounded p-0" href="#">
                    <div class="card p-1">
                        <!-- <div class="name rounded center text-light">
                            dasjkdhajkshdjksadfghhads gfhjadgshjfg adshjfgasdhj fgsadhjfghjsdagf ajshgfsdhjag f
                        </div> -->
                        <div class="info center">
                            <div class="p-2">
                                <div class="mt-2 mb-2">Analysis and Modelling of Disfluency and AS Units for Automatic scoring of L2 speakers</div>
                                <!-- <div>
                                    <span class="iconify" data-icon="octicon:star"></span>
                                    <span class="iconify" data-icon="octicon:repo-forked"></span>
                                    <span class="iconify" data-icon="octicon:clock"></span>
                                </div> -->
                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-12 mb-3">
                <a class="repository-card btn rounded p-0" href="#">
                    <div class="card p-1">
                        <!-- <div class="name rounded center text-light">
                            dasjkdhajkshdjksadfghhads gfhjadgshjfg adshjfgasdhj fgsadhjfghjsdagf ajshgfsdhjag f
                        </div> -->
                        <div class="info center">
                            <div class="p-2">
                                <div class="mt-2 mb-2">India's GDP mis-estimation: An analysis of the role of agriculture and service sectors</div>
                                <!-- <div>
                                    <span class="iconify" data-icon="octicon:star"></span>
                                    <span class="iconify" data-icon="octicon:repo-forked"></span>
                                    <span class="iconify" data-icon="octicon:clock"></span>
                                </div> -->
                            </div>
                        </div>

                    </div>
                </a>
            </div>
    </div>
</div>

