<div id="connection" class="mb-4">
    
    <h2 class="name">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
            <path fill="#FFF" d="M12 32L12 8 39 8 39 26 33 32 24 32 18 38 18 32z"></path><path fill="#8E24AA" d="M9,5l-3,7.123V38h9v5h5l5-5h7l10-10V5H9z M38,26l-5,5h-9l-5,5v-5h-6V9h25V26z"></path><path fill="#8E24AA" d="M32 25h-5V15h5V25zM24 25h-5V15h5V25z"></path>
        </svg>
        Meet me at my
        <a href="https://www.twitch.tv/prettybasicakashomatics/about" target="_blank">
            Twitch Channel
        </a>
    </h2>
    <div align="left"  class="mb-3">
        <a href="https://www.twitch.tv/prettybasicakashomatics/about" target="_blank">
          <img alt="Website" width="100%" src="{{ site.baseurl }}/assets/images/TwitchStream.png" />
        </a>
    </div>
    <p class="name">Sometimes, I get high on rocket fuel (a.k.a coffee ☕️) and then livestream 📺 my programming contests, CTFs and algo learning sessions here. 
    </p>
    <hr>
</div>
